div.item{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    border: 2px solid black;
    border-radius: 100px;
    /* position: absolute; */
}
div#main{
    background-color: rgb(148, 129, 100);
    width: 900px;
    height: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#red{
    background-color: rgba(255, 0, 0, 0.658);
}
#blue{
    background-color: rgba(71, 227, 248, 0.863);
}
#green{
    background-color: rgba(115, 255, 0, 0.904);
}