body{
    width: 100%;
    height: auto;
    font-family: 'Titillium Web', ;
}
.container{
    margin:0 20px;
}
header{
    background: linear-gradient(to bottom right,rgb(84, 219, 190),rgb(234, 253, 249));
    
}
.container .logo img{
    width: 160px;
    height: 150px;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.navbar{
    margin: 20px 0;
    border: 3px solid rgb(31, 58, 52);
    border-radius: 24px;
}
nav{
    border-radius: 10px;
}
.aboutus{
        padding:40px;
        background: linear-gradient(to bottom right,rgb(219, 217, 217),rgb(241, 243, 242));

}
.about{
    display: flex;
    justify-content: space-between;
   
}
.text{
    margin-right: 100px;
    border: 3px solid rgb(31, 58, 52);
    border-radius: 24px;
    padding: 10px;
    margin-right: 40px;
    min-width: 50%;
}
.text h2{
    text-decoration: underline ;
}
.about p{
    font-size: 16pt;
    
}
img{
    border-radius: 20px;
    width: 600px;
}
.buttons{
    background: linear-gradient(to bottom right,rgb(84, 219, 190),rgb(234, 253, 249));
    padding: 80px
}
.buttons div {
    display: flex;
    justify-content: space-around;
}
.buttons a{
    padding: 30px;
    border: 3px solid rgb(31, 58, 52);
    border-radius: 24px;
    background-color: rgb(236, 240, 240);
    font-size:22px;
    color:black;
    max-width: 500px;
    max-height: 200px;
}
.buttons a:hover{
    color:black;
    text-decoration: none;
    font-size: 26px;
}
footer{
    background: linear-gradient(to bottom right,rgb(219, 217, 217),rgb(241, 243, 242));

}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
.footer p{
    font-size: 18px;
}