*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
div.container{
    background-color:#c2a1e988;
    width: 80%;
    margin: auto;
    height: 1000px;
    padding: 20px 50px ;
}
div:first-child{
    list-style: none;
    font-weight: 100;
}
h2{
    font-size: 20pt;
    margin-bottom: 5px;
}
ul{
    padding-left: 5%;
    font-size: 14pt;
}
div{
    font-size: 14pt;

}
li:hover{
    background-color: antiquewhite;
}